.app-navbar {
  border-bottom: 1px solid #6c757d;
}

.spacer {
  margin-left: 10px;
  margin-right: 20px;
}

.app-nav-link {
  border: 1px solid #6c757d;
  border-radius: 0.2rem;
  color: #CAD5D5;
  cursor: pointer;
}

.app-nav-link:hover {
  color: #007bff;
}

.app-brand {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  color: #CAD5D5;
}
